---
title: Venue
---

<div class="limit limit--top-margin">

<div class="training-intro">
    <h1 class="training-intro__title">
        Venue
    </h1>
</div>

<div class="training-intro">
    <h2 class="training-intro__date">
        Conference location
    </h2>
</div>

<div class="limit">

  <div class="row">
    <div class="row__column">
        <p class="row__text"><a href="https://www.google.it/maps/place/Via%20Monte%20Pastello,%2028%20-%2037057%20-%20San%20Giovanni%20Lupatoto/@45.4399785,10.9698404,614m/data=!3m2!1e3!4b1!4m5!3m4!1s0x4781e1e3a1212445:0x74730a5e0d30436d!8m2!3d45.4399785!4d10.9719308?hl=it"><img src="/img/reactjsday/map_big.png" alt="location"></a></p>
        <p class="row__text">The {{ site.data.conference.name }} conference will be held at {{ site.data.venue.name }} in {{ site.data.conference.where_when }}.</p>
    </div>
  </div>

  <hr class="hr">

  <h2 class="row__title">Hotel agreements</h2>

  <div class="row row--1">
    <p class="row__column">
        <img src="/img/phpday/marker_venue.png"><br><strong class="row__title">Best Western CTC Hotel Verona</strong><br>
        Via Monte Pastello, 28<br>
        37057 San Giovanni Lupatoto - Verona — Italy<br>
        045 875 4111<br>
        045 8754120<br>
        <a href="http://www.ctchotelverona.com/it/location-it/come-raggiungerci.aspx">www.ctchotelverona.com</a><br>
        The conference hotel offers discounted rates on single and double bedrooms.
    </p>
  </div>

  <hr class="hr">

  <h2 class="row__title">How to get to the conference</h2>

  <div class="row row--1">
    <p class="row__column">
      We will provide a <strong>free shuttle bus from the center of Verona</strong> (see the
      <a href="https://goo.gl/maps/4djQjpwSjNo" target="blank">precise location on the map</a>),
      stopping by at <a href="https://goo.gl/maps/NzdwT1LAc5S2" target="blank">"Verona Porta Nuova" train station</a>,
      from 7:30am to 9:30am, and back to the city center from 6pm to 8pm.
    </p>
  </div>

  <div class="row row--3">
    <div class="row__column">
      <p class="row__text">
        <img src="/img/phpday/marker_route_n.png"><br><strong>Route from "Verona Nord" Exit</strong>
      </p>
      <p class="row__text">
        Take the "Tangenziale Sud" heading towards Legnago. Take the "San Giovanni Lupatoto" exit and take the 3rd exit
        at the roundabout. Continue along Via Monte Pastello.
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/phpday/marker_route_s.png"><br><strong>Route from "Verona Sud" Exit</strong>

      </p>
      <p class="row__text">
        Follow the "Tangenziale Sud", heading towards Legnago. Take the "San Giovanni Lupatoto" exit; at the first
        roundabout take the 3rd exit and take Via Ca 'Nova Zampieri. At the roundabout take the 3rd exit and continue
        straight along Via Monte Pastello, you will find the hotel in front of you.<br/>
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/phpday/marker_airport.png"><br><strong>Route from the Airport</strong>

      </p>
      <p class="row__text">
        You can take <a href="http://www.atv.verona.it/flex/cm/pages/ServeBLOB.php/L/EN/IDPagina/90?uniq=90de882cf73416ca831a6c031f3a9f25" target="blank">
        a bus called "Aerobus"</a> by ATV that reaches directly the "Verona Porta Nuova" Railway Station. The departing stop
        is outside the "Arrivals" terminal. The service is available every day and starts every 20 minutes; it costs
        €6.00; last ride is at 22:50. From "Verona Porta Nuova" Station, you will find our free shuttle bus (on the day
        of the conference).
      </p>
    </div>
  </div>

</div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
