<div id="sponsors" class="sponsors">

  {% assign has_sponsors = site.data.sponsors.diamond || site.data.sponsors.platinum || site.data.sponsors.gold || site.data.sponsors.silver || site.data.sponsors.bronze %}
  {% if has_sponsors %}
    <h4 class="sponsors__thanks">
      Thanks<br>
      to
    </h4>
  {% endif %}

  <div class="sponsors__contents">
    <div class="limit limit--no-overflow">

      {% if site.data.sponsors.main.list | size %}
      <div class="sponsors__category">
        <div class="sponsors__title">
          main
        </div>
        <div class="sponsors__main">
          {% for sponsor in site.data.sponsors.main.list %}
            <div class="sponsors__main-column">
              <a href="{{ sponsor.url }}" class="sponsors__link">
                <div style="background-image:url('{{ site.baseurl }}/img/sponsors/{{ sponsor.image }}');" class="sponsors__image"></div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if site.data.sponsors.diamond.list | size  %}
      <div class="sponsors__category">
        <div class="sponsors__title">
          diamond
        </div>
        <div class="sponsors__diamond">
          {% for sponsor in site.data.sponsors.diamond.list %}
            <div class="sponsors__diamond-column">
              <a href="{{ sponsor.url }}" class="sponsors__link">
                <div style="background-image:url('{{ site.baseurl }}/img/sponsors/{{ sponsor.image }}');" class="sponsors__image"></div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if site.data.sponsors.platinum.list | size  %}
      <div class="sponsors__category">
        <div class="sponsors__title">
          platinum
        </div>
        <div class="sponsors__platinum">
          {% for sponsor in site.data.sponsors.platinum.list %}
            <div class="sponsors__platinum-column">
              <a href="{{ sponsor.url }}" class="sponsors__link">
                <div style="background-image:url('{{ site.baseurl }}/img/sponsors/{{ sponsor.image }}');" class="sponsors__image"></div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if site.data.sponsors.gold.list | size %}
      <div class="sponsors__category">
        <div class="sponsors__title">
          gold
        </div>
        <div class="sponsors__gold">
          {% for sponsor in site.data.sponsors.gold.list %}
            <div class="sponsors__gold-column">
              <a href="{{ sponsor.url }}" class="sponsors__link">
                <div style="background-image:url('{{ site.baseurl }}/img/sponsors/{{ sponsor.image }}');" class="sponsors__image"></div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if site.data.sponsors.silver.list | size %}
      <div class="sponsors__category">
        <div class="sponsors__title">
          silver
        </div>
        <div class="sponsors__silver">
          {% for sponsor in site.data.sponsors.silver.list %}
            <div class="sponsors__silver-column">
              <a href="{{ sponsor.url }}" class="sponsors__link">
                <div style="background-image:url('{{ site.baseurl }}/img/sponsors/{{ sponsor.image }}');" class="sponsors__image"></div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      {% if site.data.sponsors.bronze.list | size %}
      <div class="sponsors__category">
        <div class="sponsors__title">
          bronze
        </div>
        <div class="sponsors__bronze">
          {% for sponsor in site.data.sponsors.bronze.list %}
            <div class="sponsors__bronze-column">
              <a href="{{ sponsor.url }}" class="sponsors__link">
                <div style="background-image:url('{{ site.baseurl }}/img/sponsors/{{ sponsor.image }}');" class="sponsors__image"></div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}

      <div class="sponsors__category">
        <div class="sponsors__title-right">
          Media partners
        </div>
        <div class="sponsors__partner"></div>
      </div>

      <div class="sponsors__category">
        <div class="sponsors__title-right">
          COMMUNITY
        </div>
        <div class="sponsors__partner">
          <div class="sponsors__partner-column">
            <a href="https://www.meetup.com/ReactVienna/" title="React Vienna" class="sponsors__link">
              <div style="background-image: url({{ site.baseurl }}/img/reactjsday/community/react-vienna.svg)" class="sponsors__image"></div>
            </a>
          </div>

          <div class="sponsors__partner-column">
            <a href="https://react.amsterdam/" title="React Amsterdam" class="sponsors__link">
              <div style="background-image: url({{ site.baseurl }}/img/reactjsday/community/react-amsterdam.png)" class="sponsors__image"></div>
            </a>
          </div>

          <div class="sponsors__partner-column">
            <a href="https://reactiveconf.com/" title="Reactive Conf" class="sponsors__link">
              <div style="background-image: url({{ site.baseurl }}/img/reactjsday/community/reactive-conf.png)" class="sponsors__image"></div>
            </a>
          </div>

          <div class="sponsors__partner-column">
            <a href="https://reactday.berlin/" title="React Day Berlin" class="sponsors__link">
              <div style="background-image: url({{ site.baseurl }}/img/reactjsday/community/react-berlin.png)" class="sponsors__image"></div>
            </a>
          </div>

          <div class="sponsors__partner-column">
            <a href="https://www.meetup.com/ReactJS-Madrid/" title="ReactJS Madrid" class="sponsors__link">
              <div style="background-image: url({{ site.baseurl }}/img/reactjsday/community/react-madrid.png)" class="sponsors__image"></div>
            </a>
          </div>

          <div class="sponsors__partner-column">
            <a href="https://www.dotconferences.com/" title="Dot Conferences" class="sponsors__link">
              <div style="background-image: url({{ site.baseurl }}/img/reactjsday/community/dot-conferences.png)" class="sponsors__image"></div>
            </a>
          </div>

          <div class="sponsors__partner-column">
            <a href="https://jsheroes.io" title="JS Heroes" class="sponsors__link">
              <div style="background-image: url({{ site.baseurl }}/img/reactjsday/community/jsheroes.svg)" class="sponsors__image"></div>
            </a>
          </div>

          <div class="sponsors__partner-column">
            <a href="https://react-finland.fi/" title="React Finland" class="sponsors__link">
              <div style="background-image: url({{ site.baseurl }}/img/reactjsday/community/react-finland.svg)" class="sponsors__image"></div>
            </a>
          </div>

          <div class="sponsors__partner-column">
            <a href="http://reactalicante.es/" title="React Alicante" class="sponsors__link">
              <div style="background-image: url({{ site.baseurl }}/img/reactjsday/community/react-alicante.png)" class="sponsors__image"></div>
            </a>
          </div>
          
          <div class="sponsors__partner-column">
            <a href="https://t.me/front_end_first" title="Front End First" class="sponsors__link">
              <div style="background-image: url({{ site.baseurl }}/img/reactjsday/community/front-end-first.jpg)" class="sponsors__image"></div>
            </a>
          </div>

        </div>
      </div>



    </div>
  </div>

  {% if site.data.sponsors.call_for_sponsor %}
    <div class="limit">
      <div class="sponsors__became">
        Become a Sponsor!
      </div>
      <a href="mailto:info@grusp.org?subject=i want support {{ site.data.conference.name }}" target="_blank" class="button button--left">Send us an email</a>
    </div>
  {% endif %}

</div>
